<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<ComponentGroup Id="ProductComponents" >
			<ComponentRef Id="MainAppShortCut"/>
		</ComponentGroup>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="MainAppShortCut" Guid="{253BB58F-7629-4C53-8CB4-9F0BD4675A4D}">
				<Shortcut Id="AppMainAppShortCut"
						  Name="AKCalc"
						  Target="SimpleWIX.ConsoleApp.exe"
						  Directory="InstallProgramMenuFolder"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="icon.ico"/>
				<RemoveFolder Id="CleanUpShortCut" Directory="InstallProgramMenuFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\AK\Calculator" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
